<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atari Breakout Using RL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>ATARI BREAKOUT</h1>
    <h2>with reinforcement learning agent</h2>
    <div id="startScreen">
        <h2>SETTINGS</h2>
        <label>
            <input type="radio" name="mode" value="Human Player" checked> Human Player
        </label>
        <label>
            <input type="radio" id="aiAgentButton" name="mode" value="AI Agent" disabled> AI Agent
        </label>
        <div>
            <label>Board Size:
                <input type="number" id="boardWidth" value="15" min="3" max="60"> x
                <input type="number" id="boardHeight" value="10" min="5" max="60">
            </label>
        </div>
        <p>Note: Blocks are 3x1, so width must be a multiple of 3 and height bigger than 5</p>
        <div>
            <button id="startButton">PLAY</button>
            <button id="trainButton">TRAIN</button>
        </div>
    </div>
    <canvas id="gameCanvas"></canvas>
    <button id="resetButton">RESET</button>
    <div class="info">
        <p>Check out the code on <a href="https://github.com/TUWMLGW/Exercise_3">GitHub</a></p>
    </div>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>